.skills { padding-block: var(--section-padding); }
  
  .skills-content { margin-bottom: 50px; }
  
  .skills-toggle {
    background: var(--bg-secondary);
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .skills-toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 93px;
    background: var(--raw-seinna);
    border-radius: 100px;
    transition: var(--transition-1);
    z-index: -1;
  }
  
  .skills-toggle.active::before {
    left: 98px;
    width: 94px;
  }
  
  .toggle-btn {
    color: var(--color-primary);
    font-family: var(--ff-poppins);
    padding: 5px 25px;
    transition: var(--transition-1);
  }
  
  .toggle-btn.active { color: var(--white); }
  
  .skills-box.active .skills-list,
  .skills-box .tools-list { display: none; }
  
  .skills-box .skills-list,
  .skills-box.active .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  @keyframes fadeIn {
  
    0% { opacity: 0; }
    100% { opacity: 1; }
  
  }
  
  .skill-card {
    position: relative;
    background: var(--bg-secondary);
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-1);
    cursor: help;
  }
  
  .skill-card:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #PROJECT
  \*-----------------------------------*/
  
  .project { padding-block: var(--section-padding); }
  
  .project-list > li { margin-bottom: 25px; }
  
  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-12);
    box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
  }
  
  .project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: var(--transition-1);
  }
  
  .project-card:is(:hover, :focus)::after {
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(0.5px);
  }
  
  .project-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
  
  .project-card .card-title { margin-bottom: 10px; }
  
  .project-card :is(.card-title, .publish-date) {
    background: var(--bg-primary);
    padding: 6px 12px;
    width: max-content;
    box-shadow: var(--shadow-1);
    transform: translateY(20px);
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .project-card .publish-date {
    font-size: var(--fs-6);
    color: var(--color-primary);
    transition-delay: 0s;
  }
  
  .project-card:is(:hover, :focus) :is(.card-title, .publish-date) {
    transform: translateY(0);
    opacity: 1;
  }
  
  .project-card:is(:hover, :focus) .publish-date { transition-delay: 0.1s; }
  
  .load-more {
    font-size: var(--fs-4);
    color: var(--raw-seinna);
    text-decoration: underline;
    margin-inline: auto;
  }
  
  
  
  